body{
    background-color:var(--bleubackground);
    margin-top:7em;
}

.bulle{
    background-color:var(--blanc);
    border-radius:5px;
    box-shadow:var(--articleblur);
    width:auto;
    margin-left: 2%;
    margin-right:2%;
}

.header__titre{
    font-family: Dancing script;
    font-size:var(--h1-typo-menu);
    color:var(--bleufooter);
    text-align:center;
}

h1{
    font-family: Dancing script;
    font-size:var(--h1--titres-articles);
    letter-spacing: 1.5px;
}

h2{
    font-family: montserrat;
    font-weight:900;
    font-size:var(--h2-articles);
    color:var(--gris);
}

p{
    font-family:montserrat;
    font-size:var(--body);

}