body{
    background-color: rgba(211, 228, 253, 1);
    margin-top:7em;
}

.bulle{
    background-color:rgba(255, 255, 255, 1);
    border-radius:5px;
    box-shadow:-1px 3px 6px rgba(4, 47, 110, 0.15);
    width:auto;
}

.header__titre{
    font-family: Dancing script;
    font-size:24px;
    color: rgba(4, 47, 110, 1);
    text-align:center;
}

h1{
    font-family: Dancing script;
    font-size:24px;
    letter-spacing: 1.5px;
}

h2{
    font-family: montserrat;
    font-weight:900;
    font-size:16px;
    color:rgba(0, 0, 0, 0.6000000238418579);
}

p{
    font-family:montserrat;
    font-size:14px;

}