body{
    background-color:var(--bleubackground);
    margin-top:7em;
}

.bulle{
    background-color:var(--blanc);
    border-radius:5px;
    box-shadow:var(--articleblur);
    width:auto;
    margin:15px; /*2% avant*/
    padding-bottom: 1rem;;
}

/*header body et titres */


.header__titre, .section__avoirplus{
    font-family: var(--font-title);
    font-size:var(--h1-typo-menu);
    color:var(--bleufooter);
    text-align:center;
}

h1{
    font-family: var(--font-title);
    font-size:var(--h1--titres-articles);
    letter-spacing: 1,5px;
    padding:1rem;
}


h2{
    font-family: var(--font-body);
    font-weight:900;
    font-size:var(--h2-articles);
    color:var(--gris);
    padding:1rem;
}

h2.section__avoirplus{
    margin:15px 0;
    padding:0;
}

/*Body p et textes*/

p{
    font-family:var(--font-body);
    font-size:var(--body);
    padding:1rem;
    padding-top:0;
}


figcaption, .extract {
    font-family:var(--font-body);
    font-size:var(--légendes);
    color:var(--gris);
}

.livre_caption{
    color:var(--gris);
}

button{
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}