/* Pour rendre les images responsives */
img {
  max-width: 100%;
  height: auto;
  position:relative;
  padding:2em;
}

.preview__img{
  max-width:30%;
  max-height:30%;
  position:relative;
  padding:2em;
}