/* Pour rendre les images responsives */
img {
  max-width: 100%;
  height: auto;
  /*padding:1em;*/
}

.preview__img{
  max-width:70%;
  max-height:40%;
  padding:0;
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.img__article{
  width: 92%;
  position:relative;
  display:block;
  padding-top:1rem;
  margin-left: 4%;
  margin-right:4%;
}
