/* Pour rendre les images responsives */
img {
  max-width: 100%;
  height: auto;
  /*padding:1em;*/
  display:flex;
}

.preview__img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex:none;
  padding:0;
  /*margin-top:auto;
  margin-bottom:0;*/
  margin:20px;;
}

.preview__img img{
  height: 100%;
  width: 100%;    
}

.img__article--index{
  width: 92%;
  position:relative;
  display:block;
  margin:4% 4%;
}

.img__article{
  width: 92%;
  position:relative;
  display:block;
  padding-top:1rem;
  margin:4% 4%;
}

.img__profil{
  width:200px;
  margin: auto;
  padding-top:15px;
}