:root{
    /* Color styles */
--bleufooter: rgba(4, 47, 110, 1);
--bleumenu: rgba(60, 114, 203, 1);
--bleubackground: rgba(211, 228, 253, 1);
--blanc: rgba(255, 255, 255, 1);
--gris: rgba(0, 0, 0, 0.6000000238418579);
--noir: rgba(0, 0, 0, 1);


/* Text-size styles */
--légendes: 12px;
--titres-projets-autres-étudiants: 13px;
--body: 14px;
--lyrics-h2previewbulleshomepage: 15px;
--h2-articles: 16px;
--typo-legendefrise: 18px;
--titre--mention-légale-typo: 20px;
--h1--titres-articles: 22px;
--h1-typo-menu: 24px;

/* Effect styles */
--articleblur:  -1px 3px 6px rgba(4, 47, 110, 0.15);

/* Typography */
--font-body: 'Montserrat';
--font-title: 'Dancing Script';
--guillemets:'Prosto One';
}