footer{
    background-color:var(--bleufooter);
    padding:1em;
    margin-top:1rem;
}

.footer__h2{
    color:var(--blanc);
    display:block;

}
.footer__p{
    text-align: center;
}

.footer__h2, .footer__p, .footer__a{
    color:var(--blanc);
}

.footer__container{
    display:flex;
    justify-content:space-between; 
    margin:0px 15px;
    align-items: center;
}

.footer__logo--a{
    margin:0;
    padding:0;

}

.footer__logo{
    width:70px;
    height:auto;
    position:relative;
    /*display:inline-flex;*/
}

.footer__logopetit{
    width:40px;
    height:auto;
}