footer{
    background-color:var(--bleufooter);
    padding:2em;
}

.footer__h2{
    color:var(--blanc);
}
.footer__p{
    text-align: center;
    vertical-align:center;
}

.footer__h2, .footer__p, .footer__a{
    color:var(--blanc);
}