.header {
    background-color:var(--bleumenu);
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:85px; /*12 %*/
    display:flex;
    z-index:1;
    justify-content:space-between;
}

.header__logo{
    display:inline-flex;
    vertical-align:middle;
}

.header__logo-site{
    width:35%;
    height:auto;
    padding:1em;
}

.header__logo-en{
    position:relative;
    top:27px;
    margin-right:4em;
    height:40%;
    cursor: pointer;
}

.header__titre{
    padding:0;
    margin:0;
}

.header__body--titre{
    display:flex;
    justify-content:space-between; 
    margin:0 2%;
    align-items: center;
}

.header_titre--barre{
    content: '';
    background-color: var(--bleufooter);
    height: 5px;
    width: 25%;
    border-radius:4px;
}