.img__legende--container{
    display:flex;
    align-items: center;
}

.frise__alignement{
    flex:none;
}

.frise__img{
    width:200px;
    margin:15px;
}

.frise__figure-l, .frise__figure-r{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin:0;
}

.frise__figure-l{
    margin-bottom:15px;
    padding-left:15px;
}
.frise__figure-r{
    margin-top:30px;
    padding-right:15px;
}

.frise__legende{
    font-family: var(--font-title);
    color:var(--noir);
    font-size: var(--typo-legendefrise);
    font-weight:bold;
    padding:0;
    margin:0;
}

.frise__intro{
    font-family: var(--font-title);
    font-size: var(--typo-legendefrise);
    font-weight:bold;
    letter-spacing: 1px;
    padding:0 15px;
}

/*les chemins en pointillés frise*/
.path__frise1{
    width: 167px; 
    aspect-ratio: 167/295; 
    position: absolute;
    margin:-5px 20%;
    background-image: url("data:image/svg+xml,%3Csvg width='167' height='295' viewBox='0 0 167 295' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.1601 5.59858C96.5198 4.04286 119.595 0.0404268 133.55 3.22122C158.317 8.86648 165.454 31.0387 164.97 53.7332C163.952 101.369 133.412 142.882 85.3127 150.825C77.1005 152.182 60.3479 151.969 51.8318 147.638C41.1557 142.209 50.261 132.926 57.2878 131.312C90.6372 123.648 117.507 168.509 117.024 196.761C115.99 257.238 9.21374 201.89 2.52467 262.146C0.583469 279.633 8.14968 288.915 25.3151 291.996C38.1073 294.292 49.0144 293.152 60.3623 287.707' stroke='Black' stroke-width='3' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3C/svg%3E%0A");
}

.path__frise2{
    width: 190px; 
    aspect-ratio: 190/375; 
    position: absolute;
    margin:-60px 25%;
    background-image: url("data:image/svg+xml,%3Csvg width='190' height='375' viewBox='0 0 190 375' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M157 2C162.003 18.5045 168.144 35.3644 167.945 52.8889C167.647 79.0926 146.444 84.9221 124.667 90.9444C100.189 97.7136 74.7531 102.329 52.2223 114.778C25.7146 129.424 5.88944 153.051 2.55561 183.889C0.396326 203.862 4.86326 225.863 15.8334 242.778C26.4883 259.207 46.1074 270.143 63.1112 255.278C72.4597 247.105 76.1192 234.921 76.2223 222.889C76.2502 219.633 75.523 206.555 71.0001 204.444C64.0785 201.214 55.0012 227.186 54.2778 230.833C50.446 250.152 53.0836 274.27 72.1112 284.778C88.566 293.865 108.479 295.925 126.611 299C144.094 301.965 179.005 302.842 186.722 323.611C190.869 334.77 186.554 349.568 180 358.889C173.096 368.708 164.472 370.382 154 373' stroke='black' stroke-width='3' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3C/svg%3E%0A");
}

.path__frise3{
    width: 150px; 
    aspect-ratio: 150/264; 
    position: absolute;
    margin:10px 20%;
    transform:rotate(10deg);
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='264' viewBox='0 0 150 264' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M117.714 6.74835C137.193 3.64344 146.307 18.4834 147.674 36.9332C149.01 54.9714 141.504 71.9153 132.829 87.2652C119.954 110.047 102.581 126.16 80.9642 140.669C51.6362 160.354 -4.37855 182.912 2.74016 228.095C8.71033 265.988 61.7081 259.183 88.2392 254.452' stroke='black' stroke-width='3' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3C/svg%3E%0A");
}

/*avions avec les chemins*/
.plane__frise1{
    width:138px;
    aspect-ratio:138/115;
    position:absolute;
    margin:-90px 50%;
    transform:rotate(15deg);
    background-image: url("data:image/svg+xml,%3Csvg width='138' height='115' viewBox='0 0 138 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.1019 100.927L123.952 57.5013M81.1019 100.927L81.9427 105.744C82.2162 107.311 84.1207 107.947 85.2809 106.859L88.8593 103.504M81.1019 100.927L88.8593 103.504M81.1019 100.927L73.4861 90.1786C72.8121 89.2274 73.0912 87.9038 74.0918 87.3057L123.952 57.5013M123.952 57.5013L101.42 105.604C100.996 106.509 99.9689 106.962 99.0145 106.665L88.8593 103.504' stroke='black' stroke-width='4'/%3E%3C/svg%3E%0A");
}

.plane__frise2{
    width:113px;
    aspect-ratio:113/194;
    position:absolute;
    margin:60px 35%;
    background-image: url("data:image/svg+xml,%3Csvg width='113' height='194' viewBox='0 0 113 194' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.2289 49.4386L10.1519 70.9905M80.2289 49.4386L83.1665 43.2407C83.8959 41.7017 82.4908 40.0135 80.845 40.4513L75.0884 41.9828M80.2289 49.4386L75.0884 41.9828M80.2289 49.4386L79.2866 66.5516C79.2298 67.5827 78.3974 68.401 77.3654 68.4402L10.1519 70.9905M10.1519 70.9905L65.4617 32.027C66.3573 31.3961 67.5938 31.6031 68.235 32.4912L75.0884 41.9828' stroke='black' stroke-width='4'/%3E%3C/svg%3E ");
}

.plane__frise3{
    width:90px;
    aspect-ratio:90/91;
    position:absolute;
    margin:-30px 65%;
    transform:rotate(15deg);
    background-image: url("data:image/svg+xml,%3Csvg width='90' height='91' viewBox='0 0 90 91' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1947 57.7841L76.0425 14.0554M17.1947 57.7841L16.4969 64.6073C16.3237 66.3016 18.2121 67.4233 19.617 66.4607L24.531 63.0937M17.1947 57.7841L24.531 63.0937M17.1947 57.7841L12.3647 41.3398C12.0737 40.349 12.5848 39.2996 13.5444 38.9179L76.0425 14.0554M76.0425 14.0554L36.931 69.2606C36.2977 70.1545 35.0632 70.3726 34.162 69.7497L24.531 63.0937' stroke='black' stroke-width='4'/%3E%3C/svg%3E%0A");
}