.menu{
    /*display:none;*/
    background-color: var(--bleumenu);
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    padding: 50px 100px 50px ; /*au milieu pour centrer*/
    flex-direction: column;
}

.menu__link {
    color: var(--blanc);
    text-decoration: none;
    list-style: none;
    font-size: var(--h1-typo-menu);
    font-family: var(--font-title);
    display: block;
}

ul.menu__list {
    list-style:none;
}
.menu__item{
    line-height:2em;
}

.menu__h1{
    color:var(--blanc);
    font-size:var(--h1-typo-menu);
    font-weight:1;
    text-align:center;
}

.menubtn {
    width: 2em;
    height: 3em;
    right:20px;
    position: absolute;
    top:1rem;
    cursor: pointer;
}

.menubtn__bar,
.menubtn__bar::before,
.menubtn__bar::after {
    content: '';
    background-color: var(--blanc);
    height: 4px;
    width: 100%;
    border-radius:4px;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all .4s ease-in-out;

}
  
.menubtn__bar::before {
    top: -10px;
}
  
.menubtn__bar::after {
    top: 10px;
}