.menu{
    /*display:none;*/
}

 
.menubtn {
    width: 2em;
    height: 3em;
    right:20px;
    position: absolute;
    top:1rem;
    cursor: pointer;
}

.menubtn__bar,
.menubtn__bar::before,
.menubtn__bar::after {
    content: '';
    background-color: var(--blanc);
    height: 4px;
    width: 100%;
    border-radius:4px;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all .4s ease-in-out;

}
  
.menubtn__bar::before {
    top: -10px;
}
  
.menubtn__bar::after {
    top: 10px;
}