.menu{
    /*display:none;*/
    background-color: var(--bleumenu);
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    justify-content: space-between;
    padding: 30px 20px 150px ; /*au milieu pour centrer - le dernier pour padding du bas et premier padding du haut*/
    flex-direction: column;
}

.menu__link {
    color: var(--blanc);
    text-decoration: none;
    list-style: none;
    font-family: var(--font-body);
    font-size: var(--titre--mention-légale-typo);
    display: block;
}

.menu__icone{
    position:absolute;
    margin-top:10px;
    margin-left:-40px;
    vertical-align:middle;
    width:20px;
}

.menu__icone2{
    width:30px;
    /*display:flex;
    justify-content: space-between;*/
}

.menu_4{
    display:flex;
    flex-wrap:wrap;
   /* align-items: flex-end;*/
    gap: 3rem;
    margin-right:auto;
    margin-left:auto;
}

ul.menu__list {
    list-style:none;
}

.menu__item{
    line-height:40px;  
}


.menu__h1{
    color:var(--blanc);
    font-size:var(--h1-typo-menu);
    font-weight:1;
    text-align:center;
    margin:0;
}

.menubtn {
    width: 2em;
    height: 3em;
    right:20px;
    position: absolute;
    top:1rem;
    cursor: pointer;
}

.menubtn__bar,
.menubtn__bar::before,
.menubtn__bar::after {
    content: '';
    background-color: var(--blanc);
    height: 4px;
    width: 100%;
    border-radius:4px;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all .4s ease-in-out;

}
  
.menubtn__bar::before {
    top: -10px;
}
  
.menubtn__bar::after {
    top: 10px;
}


