/*page film*/

ul li {
    list-style: none;
}

.film__container{
   display:flex;
    flex-wrap: wrap;
    gap:20px;
    align-items:flex-start;/*pb alignement */
    margin:0 5px;
    padding:0;
}
.film__classe{
    width:85px;
    height:auto;
    margin:0 auto;
    cursor:pointer;
}

.p__miniature{
    padding:0;
}

/*overlayyy */
.overlay {
    /* Sit on top of the page content */
    position:fixed;
    /* Stay at the top */
    top:0; /*image placée entre top et bottom*/
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(4, 47, 110, 0.8);
    cursor:pointer;
    /* Use a grid for easy centering */
    display:grid;
    place-content:center;
    align-items:center;
}

.overlay::after {
    /* Add content : "X" */
    content:"X";
    color:rgba(255,255,255);
    /* Black background color */
    font-family:var(--font-body);
    text-align:center;
    line-height:2px;
    display:block;
    position:absolute;
    /*pour la position de la X*/
    top:10rem;
    right:1rem;
    width:2rem;
    height:2rem;
}

.overlay> figure {
    margin:10%;
    padding:1rem;
}

.img__grand{
    max-width:100%;
    height:auto;
}

.overlay__texte{
    display:block;
    color:var(--blanc);
    padding-right:15px;
    width:100px;
}