.preview{
    background-color:rgba(255, 255, 255, 1);
    border-radius:10px;
    box-shadow:-1px 3px 6px rgba(4, 47, 110, 0.15);
    list-style:none;
    cursor:pointer;
    vertical-align:middle;
    padding-left:0em;
    padding-right:1em;
    padding-bottom:2em;
    padding-top:2em;
    width:90%;
    height:auto;
    margin:1em;
}

li{
    display:inline-block;
    list-style:none;
}

.preview__alignement{
    float:left;
    margin:0;
    padding:0;
}
.preview__alignementdroite{
    text-align:right;
}

.preview__titre{
    font-family:Montserrat;
    font-size:15px;
    font-weight:800px;
    margin:0px;
}
.preview__description{
    font-family:Montserrat;
    font-size:12px;
    font-weight: 100;
    margin:0px;
}
