.preview{
    background-color:rgba(255, 255, 255, 1);
    border-radius:10px;
    box-shadow:-1px 3px 6px rgba(4, 47, 110, 0.15);
    width:80%;
    list-style:none;
    height:auto;
    margin:auto;
    cursor:pointer;
}
.preview__titre{
    font-family:Montserrat;
    font-size:15px;
    font-weight:800px;
    margin:10px;
    display:inline-block;
    text-align:right;

}
.preview__description{
    font-family:Montserrat;
    font-size:12px;
    font-weight: 100;
    vertical-align:right;
    margin:0px;
    float:right;
}
